.topnav {
  background-color: rgb(0, 0, 0);
  /* background-color: white; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100vw;
  transition: top 0.6s; /* Transition effect when sliding down (and up) */
}

.topnav .title {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.863);
  margin-left: 3em;
}

.topnav ul {
  display: flex;
  flex-direction: row;
  margin: 0 5em;
}

.topnav ul li {
  list-style: none;
  padding: 3px;
  margin: 3px;
}

.topnav ul li a {
  color: rgba(255, 255, 255, 0.863);
  /* color: black; */
  margin: 1rem;
  text-decoration: none;
}

.topnav .icon {
  display: none;
  color: rgba(255, 255, 255, 0.863);
}

/* .topnav a.active {

} */

/* Underline animation on links */
.topnav ul li a.underline {
  position: relative;
}

.topnav ul li a.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.863);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.topnav ul li a.underline:hover:before {
  visibility: visible;
  height: 3px;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.863);
  background-color: transparent;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  font-size: 1em;
  width: 12vw;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgb(168, 167, 167);
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
  color: rgb(211, 139, 5);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1100px) {
  .topnav {
    font-size: 1em;
    height: 8vh;
  }

  /* .topnav a:not(:first-child) { */
  .topnav ul li a,
  .dropdown .dropbtn {
    display: none;
  }
  .topnav .icon {
    cursor: pointer;
    display: block;
    margin: 0.5em;
    font-size: 1.3em;
  }
  .topnav .title {
    font-size: 0.8em;
    margin-left: 1em;
  }

  .topnav .icon .times {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .topnav.responsive {
    height: 60vh;
    background-color: rgb(136, 7, 7);
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
  }

  /* keeps ul items aligned */
  .topnav.responsive li {
    margin-right: 2em;
  }

  .topnav.responsive li a,
  .topnav.responsive .dropdown .dropbtn {
    display: block;
  }

  .topnav.responsive .title {
    display: none;
  }

  .topnav.responsive .dropdown-content {
    width: auto;
    margin-left: -1em;
    background-color: rgb(240, 238, 238);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .topnav.responsive .dropdown-content a {
    color: black;
    font-size: 0.8em;
  }

  .topnav.responsive .dropdown-content a:active {
    color: rgb(199, 133, 12);
  }
}

/* Smaller screens */
@media screen and (max-width: 360px) {
  .topnav.responsive ul {
    font-size: 1em;
  }
}
