@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* Default styling */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
p,
h3,
h4,
h5,
li,
label,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

p {
  font-size: 1em;
  line-height: 2em;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Style all links */
a {
  color: #364f6b;
  text-decoration: none;
}
/* Style all h2 with "heading" class */
h2.heading {
  margin-top: 2em;
  /* margin-bottom: 2em; */
  font-family: "Comfortaa", cursive;
  font-size: 2em;
  font-weight: bolder;
}

/* Heading Underline  */
h2.heading {
  position: relative;
}
h2.heading:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 8px;
  bottom: 0;
  left: 0;
  /* left: 25%;
  right: 25%; */
  background-color: #fc5185;
  visibility: visible;
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}

/* Underline animation for links with "underline" class */
a.underline {
  position: relative;
}

a.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fc5185;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.underline:hover:before {
  visibility: visible;
  width: 100%;
}

/* Styling icons */
.icon {
  width: 100px;
  height: 150px;
  margin-top: 2em;
}

/* Start */
.home {
  min-height: 40vh;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(184, 59, 94);
  background: linear-gradient(
    69deg,
    rgba(184, 59, 94, 1) 0%,
    rgba(240, 138, 93, 1) 100%
  );
}

.home h2 {
  color: #f5f5f5;
  font-size: 3em;
  font-family: "Comfortaa", cursive;
}

/* Section 2 */
.intro {
  min-height: 80vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  /* text-align: left; */
}

.intro h3 {
  font-weight: 600;
  text-align: left;
  margin-top: 2em;
  margin-left: 1.7em;
  font-size: 1.17em;
}

.intro h3:nth-child(2) {
  font-weight: 500;
  line-height: 1.5em;
}

.intro p {
  margin: 1em 2em;
}

/* Services */
.services {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #1f1d1a;
  background-image: url("img/confetti.svg");
  background-attachment: fixed;
}

.services ul {
  list-style-type: circle;
}

.services ul li {
  font-size: 1.5em;

  /* text-align: center; */
  margin-left: 4em;
}

/* Pricing */
.pricing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
}

.pricing .main-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.5em;
  width: 70vw;
  /* border-radius: 10px;
    -webkit-box-shadow: -1px 1px 12px -1px rgb(180, 183, 185);
    -moz-box-shadow: -1px 1px 12px -1px rgba(180, 183, 185);
    box-shadow: -1px 1px 12px -1px rgba(180, 183, 185); */
}

/* horizontally invert box */
.pricing .main-box:nth-child(3) {
  flex-direction: row-reverse;
  /* border: 1px solid black; */
}

.pricing .box-1,
.pricing .box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  text-align: center;
  min-height: 40vh;
  /* border: 1px solid grey; */
}

.pricing .box-1 {
  width: 40%;
}

.pricing .box-2 {
  background-color: #f5f5f5;
  width: 60%;
}

.pricing h3 {
  font-size: 1.17em;
}

.pricing .box-1 p {
  margin: 1em;
}

.pricing .features {
  margin: 1em;
  font-size: 1.3em;
  font-weight: 800;
  border-bottom: 1px solid grey;
}

/* Landing page */
.pricing .landing .box-1 {
  background-color: #f5e6df;
}

/* Blog site */
.pricing .blog .box-1 {
  background-color: #fac7c7;
}

/* Tiers */
/* Ecommerce Section*/
.tier {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.tier .tier-title {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: 900;
}

.tier .plans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tier .plans .tier-1,
.tier .plans .tier-2 {
  width: 40vw;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2em;
  border-radius: 10px;
  border: 1px solid #eaeaea;
}

.tier .plans .tier-1 {
  background-color: #f7fbfc;
}

.tier .plans .tier-2 {
  background-color: #f7fbfc;
}

.tier .tier-1 .title {
  background-color: #f09771c4;
  padding: 1em;
  width: 100%;
  font-weight: bolder;
  font-size: 1.1em;
}

.tier .tier-2 .title {
  background-color: #f38181ee;
  padding: 1em;
  width: 100%;
  font-weight: bolder;
  font-size: 1.1em;
}

.tier h3 {
  font-size: 1.17em;
}

.tier .description {
  font-size: 1.1em;
  margin-top: 3em;
}

.tier .sub-heading {
  margin: 1em;
  font-size: 1.3em;
  font-weight: 800;
  border-bottom: 1px solid grey;
}

.tier .features {
  /* margin-top: 5em; */
  margin-top: 3em;
  font-size: 1em;
  font-family: "Merriweather", serif;
}

.tier .features h3 {
  font-weight: 600;
  margin: 1em;
}

/* Contact */
.contact {
  background-color: #f5f5f5;
  /* width: 70vw; */
  padding: 2em;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h4 {
  font-size: 1.2em;
  text-align: left;
  line-height: 1.5em;
}

.contact a:active {
  color: #fc5185;
}

/* Form */
.contact .form {
  width: 50vw;
  margin: 4em;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type="submit"] {
  margin-top: 2em;
  font-size: 1.2em;
  background-color: #364f6b;
  color: white;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.4s, color 0.4s;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #fc5185;
  /* border: 1px solid #364f6b; */
}

/* Footer */
.footer-main {
  min-height: 10vh;
  background-color: #393e46;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
  font-family: "Merriweather", serif;
  /* margin-top: 2em; */
}

.footer-main .phone-email p {
  margin: 1em;
}

.footer-main .phone-email a {
  color: #f5f5f5;
  text-decoration: none;
}

.footer-main .social a {
  color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.4s;
  font-size: 2em;
  margin: 0 10px;
}

.footer-main a:hover {
  color: #fc5185;
}

@media screen and (max-width: 1100px) {
  /* Home */

  .home {
    min-height: 30vh;
  }

  .home h2 {
    font-size: 1.5em;
  }

  /* Intro */
  .intro {
    width: 95vw;
  }

  .intro h3 {
    text-align: left;
    margin-top: 2em;
    margin-left: 1.7em;
  }

  .intro h3:nth-child(2) {
    font-weight: 400;
  }

  .intro p {
    margin: 1em 2em;
  }

  .intro a:active {
    color: #fc5185;
  }

  /* Services */
  .services {
    min-height: 60vh;
  }
  .services ul li {
    font-size: 1em;
  }

  /* Pricing */
  .pricing .main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  /* keep horizontally inverted main-box properly aligned */
  .pricing .main-box:nth-child(3) {
    flex-direction: column;
  }

  .pricing .box-1,
  .pricing .box-2 {
    width: 70%;
  }

  .pricing .box-1 {
    min-height: 25vh;
  }
  .pricing .box-2 {
    min-height: 40vh;
  }

  .pricing .features {
    margin: 1em;
    font-size: 1.3em;
    font-weight: 800;
  }

  /* Tiers */
  .tier .tier-title {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-weight: 900;
  }

  .tier .plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tier .plans .tier-1,
  .tier .plans .tier-2 {
    width: 80vw;
    min-height: 50vh;
  }

  .tier .description {
    margin-top: 2em;
    font-size: 1em;
    line-height: 2em;
    padding: 1.2em;
    /* text-align: center; */
  }

  .tier .features {
    margin-top: 3em;
    margin-bottom: 1em;
    /* font-size: 1em; */
  }

  /* Contact */
  .contact h4 {
    text-align: left;
    font-size: 1.2em;
  }

  /* Form */
  .contact .form {
    width: 80vw;
    margin: 2em;
  }

  /* Footer */
  .footer-main {
    min-height: 20vh;
    background-color: #393e46;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    font-size: 1em;
  }

  .footer-main .social a {
    font-size: 2em;
    margin: 10px;
  }

  .footer-main .title {
    margin-top: 1em;
    /* font-size: 1em; */
  }
}
