@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* Default styling */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
p,
h3,
h4,
h5,
li,
label,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

p {
  font-weight: 600;
  font-size: 1em;
  line-height: 2em;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Style all links */
a {
  color: #364f6b;
  text-decoration: none;
}
/* Style all h2 with "heading" class */
h2.heading {
  margin-top: 2em;
  /* margin-bottom: 2em; */
  font-family: "Comfortaa", cursive;
  font-size: 2em;
  font-weight: bolder;
}

/* Heading Underline  */
h2.heading {
  position: relative;
}
h2.heading:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 8px;
  bottom: 0;
  left: 0;
  background-color: #fc5185;
  visibility: visible;
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}

/* Style icons */
.icon {
  width: 100px;
  height: 150px;
  margin-top: 2em;
}

/* Underline animation for links with "underline" class */
a.underline {
  position: relative;
}

a.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fc5185;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.underline:hover:before {
  visibility: visible;
  width: 100%;
}

/* Start */
.home {
  min-height: 40vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(217, 32, 99);
  background: linear-gradient(
    90deg,
    rgba(217, 32, 99, 1) 0%,
    rgba(181, 7, 102, 1) 51%
  );
}

.home h2 {
  color: #f5f5f5;
  font-size: 3em;
  font-family: "Comfortaa", cursive;
}

/* Section 2 */
.intro {
  min-height: 80vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  /* text-align: left; */
}

.intro h3 {
  font-weight: 900;
  text-align: left;
  margin-top: 2em;
  margin-left: 1.7em;
  font-size: 1.17em;
  color: #fc5185;
}

.intro li {
  list-style-type: none;
  list-style-position: inside;
}

.intro p {
  margin: 1em 2em;
}

.main-div p {
  font-size: 1.1em;
  font-weight: 900;
}

.main-div div {
  display: flex;
  flex-direction: column;
}

/* Pricing */
.pricing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 4em; */
  /* background-color: #eaeed2; */
  /* background-image: url("../assets/img/pricingbackground.jpg");
  background-size: cover;
  background-attachment: fixed; */
  /* background-color: whitesmoke; */
}

.pricing h2 {
  margin-bottom: 2em;
}

.pricing .main-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.5em;
  width: 70vw;
  /* border-radius: 10px;
  -webkit-box-shadow: -1px 1px 12px -1px rgb(180, 183, 185);
  -moz-box-shadow: -1px 1px 12px -1px rgba(180, 183, 185);
  box-shadow: -1px 1px 12px -1px rgba(180, 183, 185); */
}

/* horizontally invert box */
.pricing .main-box:nth-child(3) {
  flex-direction: row-reverse;
  /* border: 1px solid black; */
}

.pricing .box-1,
.pricing .box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
  height: 70vh;
  /* border: 1px solid grey; */
}

.pricing .box-1 {
  width: 40%;
}

.pricing .box-2 {
  background-color: #f5f5f5;
  width: 60%;
}

.pricing h3 {
  font-size: 1.1em;
  font-weight: 600;
}

.pricing h5 {
  font-weight: 900;
}

.pricing p {
  margin: 1em;
  font-size: 1em;
}

.pricing .features {
  margin: 1em;
  font-size: 1.3em;
  font-weight: 800;
  border-bottom: 1px solid grey;
}

/* Landing page */
.pricing .landing .box-1 {
  /* background-color: #eaffd0; */
  background-color: #f0ece3;
}

/* Blog site */
.pricing .blog .box-1 {
  background-color: #dfd3c3;
}

hr {
  border: 1px solid #eaeaea;
}

/* Ecommerce Section*/
.ecommerce {
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.ecommerce .ecommerce-title {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: 900;
}

.ecommerce h5 {
  font-weight: 900;
}

.ecommerce .plans {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.ecommerce .plans .lite,
.ecommerce .plans .basic,
.ecommerce .plans .standard,
.ecommerce .plans .enterprise {
  /* width: 40vw;
  height: 110vh; */
  width: 20vw;
  height: 120vh;
  display: flex;

  flex-direction: column;
  text-align: center;
  margin: 2em;
  border-radius: 10px;
  border: 1px solid #eaeaea;
}

.ecommerce .plans .lite,
.ecommerce .plans .basic,
.ecommerce .plans .standard,
.ecommerce .plans .enterprise {
  /* background-color: #f7f2e7; */
  background-color: #f2f8e649;
}

.ecommerce h3 {
  font-size: 1.17em;
  font-weight: 600;
}

.ecommerce h3:nth-child(2) {
  font-size: 1em;
}

.ecommerce .plans p {
  margin: 1em;
  font-size: 0.9em;
}

.ecommerce .lite .title {
  background-color: #fdcb9e;
  padding: 1em;
  width: 100%;
  font-weight: bolder;
  font-size: 1.1em;
}

.ecommerce .basic .title {
  background-color: #fee2b3;
  padding: 1em;
  width: 100%;
  font-weight: bolder;
  font-size: 1.1em;
}

.ecommerce .standard .title {
  background-color: #f09771c4;
  padding: 1em;
  width: 100%;
  font-weight: bolder;
  font-size: 1.1em;
}

.ecommerce .enterprise .title {
  background-color: #f38181ee;
  padding: 1em;
  width: 100%;
  font-weight: bolder;
  font-size: 1.1em;
}

.ecommerce .description {
  font-size: 1.1em;
  margin-top: 3em;
}

.ecommerce .sub-heading {
  margin: 1em;
  font-size: 1.3em;
  font-weight: 800;
  border-bottom: 1px solid grey;
}

.ecommerce .features {
  /* margin-top: 5em; */
  margin-top: 3em;
  font-size: 1em;
  font-family: "Merriweather", serif;
}

.ecommerce .features h3 {
  font-weight: 600;
  margin: 1em;
}

/* Contact */
.contact {
  background-color: #f5f5f5;
  /* width: 70vw; */
  padding: 2em;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h4 {
  font-size: 1.2em;
  text-align: left;
  line-height: 1.5em;
}

.contact a:active {
  color: #fc5185;
}

/* Form */
.contact .form {
  width: 50vw;
  margin: 4em;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  border-radius: 10px;
  /* resize: vertical; Allow the user to vertically resize the textarea (not horizontally) */
}

input[type="submit"] {
  margin-top: 2em;
  font-size: 1.2em;
  background-color: #000000;
  color: white;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.4s, color 0.4s;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #fc5185;
  border: 1px solid black;
}

/* Footer */
.footer-main {
  min-height: 10vh;
  background-color: #393e46;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
  font-family: "Merriweather", serif;
  /* margin-top: 2em; */
}

.footer-main .phone-email p {
  margin: 1em;
}

.footer-main .phone-email a {
  color: #f5f5f5;
  text-decoration: none;
}

.footer-main .social a {
  color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.4s;
  font-size: 2em;
  margin: 0 10px;
}

.footer-main a:hover {
  color: #fc5185;
}

@media screen and (max-width: 1100px) {
  /* Home */

  .home {
    min-height: 30vh;
  }

  .home h2 {
    font-size: 1.5em;
  }

  /* Section 2 */
  .intro {
    width: 95vw;
  }

  .intro h3 {
    font-weight: 600;
    text-align: left;
    margin-top: 2em;
    margin-left: 1.7em;
  }

  .intro p {
    margin: 1em 2em;
  }

  .intro a:active {
    color: #fc5185;
  }

  /* Footer */
  .footer-main {
    min-height: 20vh;
    background-color: #393e46;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    font-size: 1em;
  }

  .footer-main .social a {
    font-size: 2em;
    margin: 10px;
  }

  .footer-main .title {
    margin-top: 1em;
    /* font-size: 1em; */
  }

  /* Pricing */
  .pricing .main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  /* keep horizontally inverted main-box properly aligned */
  .pricing .main-box:nth-child(3) {
    flex-direction: column;
  }

  .pricing .box-1,
  .pricing .box-2 {
    width: 95%;
  }

  .pricing p {
    margin: 1em;
    font-size: 1.17em;
    /* border: 1px solid rgba(0, 0, 0, 0.295); */
    background-color: #e0ece44b;
    /* text-align: left; */
    border-radius: 5px;
    padding: 1em;
  }

  .pricing .box-1,
  .pricing .box-2 {
    height: auto;
  }

  .pricing .features {
    margin: 1em;
    font-size: 1.3em;
    font-weight: 800;
  }

  /* Ecommerce */

  .ecommerce .ecommerce-title {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-weight: 900;
  }

  .ecommerce .plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ecommerce .plans .lite,
  .ecommerce .plans .basic,
  .ecommerce .plans .standard,
  .ecommerce .plans .enterprise {
    width: 90vw;
    height: auto;
    margin: 0;
    margin-bottom: 2em;
  }

  .ecommerce .plans p {
    background-color: #e0ece44b;
    border-radius: 5px;
    padding: 1em;
  }

  /* .ecommerce .description {
    margin-top: 2em;
    font-size: 1em;
    line-height: 2em;
    padding: 1.2em;
   
  } */

  .ecommerce .features {
    margin-top: 3em;
    margin-bottom: 1em;
    /* font-size: 1em; */
  }

  /* Contact */
  .contact h4 {
    text-align: left;
    font-size: 1.2em;
  }

  /* Form */
  .contact .form {
    width: 80vw;
    margin: 2em;
  }
}
